Tea.v12.suo
Tea.v12.suo
Tea/bin/Tea.pdb
Tea/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Tea/obj/Debug/Tea.csproj.FileListAbsolute.txt
Tea/obj/Debug/Tea.csprojResolveAssemblyReference.cache
Tea/obj/Debug/Tea.pdb
Tea/bin/Tea.pdb
Tea/bin/Tea.pdb